#!/bin/bash

###################################################################################################
#                                      Patching the lightdm deficit                               #
###################################################################################################
#
#if [ $COMPUTER == "x220" ]
#		then
#		source $HOME/.config/shell/Shell_Exports
#		[ -f ~/.Xmodmap ] && . ~/.Xmodmap
#fi
#
##################################################################################################
#				       Startup                                                    #
###################################################################################################

source $HOME/.config/xorg/Xstartup

###################################################################################################
#                                      Monitor tuning                                             #
###################################################################################################

# Stop screen from going blank - courtesy chris@machine
xset s off
xset -dpms
xset s noblank

###################################################################################################
#                                     Vmachine Specific                                           #
###################################################################################################

#if [ $COMPUTER == "Vmachine" ]
#		then
#		xrandr --output Virtual-1 --mode 2560x1080
#		# spice-vdagent &
#fi

####################################################################################################
#                                      Wallpaper                                                   #
####################################################################################################

#if [ $COMPUTER == "desktop" ]
if [[ $COMPUTER == "desktop" || $COMPUTER == "Vmachine" ]]
		then
		feh --bg-fill --randomize ~/Pictures/wallpaper/wallpaper2560x1440/* & #feh --bg-fill --randomize ~/Pictures/wallpaper1200x1600/* &
		#feh --bg-fill --randomize ~/Pictures/wallpaper2560x1440/* feh --bg-fill -randomize ~/Pictures/wallpaper1600x1200/* &
		#DISPLAY=:0.0 feh --bg-fill --randomize ~/Pictures/wallpaper2560x1440/* &
		#DISPLAY=:0.1 feh --bg-fill --randomize ~/Pictures/wallpaper1200x1600/* &
elif [ $COMPUTER == "x220" ]
		then
		#feh --bg-fill ~/Pictures/Wallpaper/deserted.jpeg
		feh --no-fehbg --bg-fill ~/Pictures/wallpaper/deserted.jpg 
fi

###################################################################################################
#                                      Misc                                                       #
###################################################################################################

xset +fp ~/.local/share/fonts/  # Prepend custom font path to Xorg's list of known font paths
xset r rate 400 40             	# Set typematic delay


#xrandr --output Virtual1 --mode 1600x1200     # Set display parameters in Virtualbox
#xrandr --output DVI-I-1 --mode 2560x1440
#xrandr --output DVI-I-2 --mode 1600x1200 --rotate left
#xrandr --auto --output DVI-I-1 --mode 2560x1440 --right-of DVI-I-2

### Attempt to change tray icon size as per https://wiki.archlinux.org/title/HiDPI#Xorg
# xrandr --output DVI-I-2 --scale 3x3 #this re-scaled entire screen!

